<html >
<head>
	<title>Geek Notes</title>
	<script src="angular.min.js"></script>
	<script src="notes.js"></script>
	<link rel="stylesheet" type="text/css" href="notes.css">
</head>

<body ng-app="geeksNote" ng-controller="parentController" ng-init="notesInit()" style="background-color: #E9EAED">
	<center>
	<table>
		<tr ng-repeat="obj in notesObj">
		  <td ng-repeat = "(key, value) in obj">
		  	<div ng-if="value" style="background-color: #ffffcc;min-width:200px;max-width:300px;position:relative;height:100px;margin-right:50px;padding:10px">
		  		{{value}}
		  		<a ng-href="http://www.geeksforgeeks.org{{key}}" style="position:absolute;float:right;bottom:5px">Link</div>
		  	</div>
		  </td>
		</tr>
		
	</table>
	</center>
</body>
<html>